# config files
app/config_files/oauth.json
app/config_files/credentials.json
app/config_files/configuration.json

# cache folders
__pycache__

# Dist folders and environments
.env
.venv
dist/
build/
.vscode/

# Logs
*.log